/* reset */
* {
    box-sizing: content-box;
    color: inherit;
    font-family: Satoshi, Helvetica, sans-serif;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

:root {
    --bbs-dark: #0d0d0d;
    --bbs-light: #f1f1f1;
    --bbs-muted: rgba(54, 67, 74, 0.3);
    --bbs-navy: #0d151c;
}



/* table */
table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* Añadido para evitar problemas de bordes en algunas situaciones */
}

th, td {
    border: 1px solid --bbs-dark; /* Añadido un borde sólido para todas las celdas */
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th {
    background: var(--bbs-light);
}

/* page */
html {
    font: 16px/1 'Poppins', sans-serif;
    overflow: auto;
    padding: 0.5in;
    background: var(--bbs-muted);
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5in;
    background: #FFF;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}


/* article */


/* table meta & balance */
table.meta {
    float: left;
    width: 50%;
    margin-bottom: 35px;
    margin-top: -25px;
}

table.balance {
    float: left;
    width: 30%;
    margin-top: -20px;
    margin-bottom: 45px;
}


table.balance th,
table.meta th {
    width: 40%;
}

table.balance td,
table.meta td {
    width: 55%;
}

table.balance td {
    font-weight: bold;
}

/* table items */
table.inventory th {
    font-weight: bold;
    text-align: left;
    height: 3em;
}

table.inventory td {
    text-align: center;
    max-height: 80px;

}

table.inventory td:first-child,
table.inventory th:first-child {
    text-align: left;
    font-weight: bold;
}

table.inventory td:Last-child {
    text-align: right;
    font-weight: bold;
}

table.inventory th:Last-child,
table.inventory td:Last-child {
    text-align: right;
}


table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse:separate; border-spacing: 2px; }
th, td { border-width: 1.5px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 4px; border-style: solid; }
th { background: var(--bbs-dark); border-color: #BBB; color: var(--bbs-light);}
td { border-color: #DDD; }



@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    html {
        background: none;
        padding: 0;
    }
    body {
        box-shadow: none;
        margin: 0;
    }
    span:empty {
        display: none;
    
}

@page {
    margin: 0;
}

/* Agrega un estilo personalizado para la línea debajo de la dirección y el número */
.custom-line {
    border: none;
    border-bottom: 1px solid var(--bbs-dark);
    margin: 5px 0;
}

/* Estilo para el texto más pequeño */
.small-text
{
    font-size: 60%;
}
