/* reset */
* {
    box-sizing: content-box;
    color: inherit;
    font-family: Satoshi, Helvetica, sans-serif;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

:root {
    --bbs-dark: #0d0d0d;
    --bbs-light: #f1f1f1;
    --bbs-muted: rgba(54, 67, 74, 0.3);
    --bbs-navy: #0d151c;
}

/* content editable */
*[contenteditable] {
    border-radius: 0.25em;
    min-width: 1em;
    outline: 0;
    cursor: pointer;
}


span[contenteditable] {
    display: inline-block;
}

/* heading */
h1 {
    font: bold 100%;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em; /* Añadido para espacio después del título */
}

/* table */
table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* Añadido para evitar problemas de bordes en algunas situaciones */
}

th, td {
    border: 1px solid --bbs-dark; /* Añadido un borde sólido para todas las celdas */
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th {
    background: var(--bbs-light);
}

/* page */
html {
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0.5in;
    background: var(--bbs-muted);
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5in;
    background: #FFF;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}



/* article */
article,
article address,
table.meta,
table.inventory {
    margin: 0 0 3em;
    clear: both;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

article address {
    float: left;
    font-size: 125%;
    font-weight: bold;
}

/* table meta & balance */
table.meta {
    float: left;
    width: 45%;
}

table.balance {
    float: left;
    width: 45%;
}

table.meta:after,
table.balance:after {
    content: "";
    display: table;
    clear: both;
}

table.balance th,
table.meta th {
    width: 40%;
}

table.balance td,
table.meta td {
    width: 60%;
}

/* table items */
table.inventory th {
    font-weight: bold;
    text-align: left;
}

table.inventory td {
    text-align: left;
    max-height: 200px;
}

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: var(--bbs-dark); border-color: #BBB; color: var(--bbs-light);}
td { border-color: #DDD; }

/* aside */
aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside h1 {
    border: none;
    border-width: 0 0 1px;
    padding-bottom: 0.5rem;
    margin: 0 0 1rem;
    border-color: var(--bbs-muted);
    border-bottom-style: solid;
}


/* Estilo para el texto más pequeño */
.small-text {
    font-size: 60%;
}


.header {
    position: fixed;
    top: 10;
    background-color: aqua;
  }
  .footer {
    position: fixed;
    bottom: 10;
  }
