@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@page {
    size: A4;
    margin: 20mm;
}


*
{
margin: 0;
padding: 0;
font-family: "Poppins",sans-serif;
}


.datos_cliente
{
margin-top: 20px;
width: 50%;
font-size: 14px;
line-height: 2;
text-align: left;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 5px;
}

.datos_cliente th
{
font-weight: 350;
border-radius: 4px;
padding: 0px 10px ;
background: #000;
color: #fff;
}

.datos_cliente td
{
font-weight: 200;
border-radius: 4px;
padding: 0px 10px ;
color: #000;
border: 1px solid #000;
}

.break div
{
margin-top: 40px;
margin-bottom: 40px;
background: #000;
color: #fff;
height: 40px;
width: 100%;
align-items: center;
justify-content: center;
display: flex;
border: solid 2px #BBB;
}

.break h1
{
font-size: 20px;
}

.articulos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.articulos thead.head {
    background-color: #030303;
    border-bottom: 2px solid #797676;
    color: #fff;
}

.articulos thead.head th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.articulos tbody.body {
    margin-top: 10px; /* This won't work directly on tbody */
}

.articulos tbody.body tr {
    height: 200px;
}

.articulos tbody.body td {
    padding: 10px;
    border: 1px solid #000;
    text-align: right;
    height: 20px;
}

.articulos tbody.body tr td span {
    display: block;
    margin-top: 10px;
}

.table-separator {
    height: 20px; /* Space between thead and tbody */
}
